<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'first_application/css/plugin/bootstrap.4.6.min.css' %}" />

    <link rel="stylesheet" href="{% static 'first_pplication/css/plugin/toaster.css' %}" />
    <link rel="stylesheet" href="{% static 'first_application/css/project_css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'first_application/css/project_css/user_signup.css' %}" />

</head>

<body>

    <section class="vh-100 bg-image"
        style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account First</h2>
                                <form id="userRegister" action="/register" method='POST'>
                                    {% csrf_token %}
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="username">User Name:</label>
                                        <input type="text" id="username" class="form-control input-sm"
                                            name="username" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email:</label>
                                        <input type="email" id="email" class="form-control input-sm" name="email" />
                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" id="password" class="form-control input-sm"
                                            name="password" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="cPassword">password(again):</label>
                                        <input type="password" id="cPassword" class="form-control input-sm"
                                            name="cPassword" />
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="Register" id="signUpBtn"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                    </div>
                                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a
                                            href="{% url 'login' %}" class="fw-bold text-body"><u>Login here</u></a></p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="{% static 'first_application/js/plugin/jquery.min.js' %}"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="{% static 'first_application/js/plugin/toaster.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'first_application/js/plugin/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'first_application/js/plugin/project_js/custom.js' %}"></script>

<script src="{% static 'first_application/js/plugin/project_js/user_signup.js' %}"></script>


</html>